<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand text-warning" href="/">Stroke Prediction</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/analysis"> Analysis</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/about">About us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/contact">Contact us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/logout">Logout</a>
                    </li>

                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-warning" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>


    <h2 class="h1-responsive font-weight-bold text-center my-4" style="color: #9c4a02">About us</h2>

    <p style="width: 70%; margin:0 auto; padding-top: 1%;padding-bottom: 5%; text-align:justify;">
        Welcome to Stroke Predictor!
<br><br>
            This webapp is created by <b>Monirul Islam Mahmud & Hafeza Akter</b>. At Stroke Predictor, our mission is to empower individuals to take control of their health by providing valuable insights and predictions regarding stroke risks. We understand that stroke is a serious medical condition that can have life-altering consequences. That's why we are dedicated to utilizing advanced technology and medical knowledge to help identify potential stroke risks, allowing our users to take proactive steps in preventing this debilitating condition.
<br><br>
            Our team of experts, including doctors, data scientists, and software engineers, have collaborated to develop a cutting-edge platform that combines the power of artificial intelligence and machine learning algorithms with comprehensive health data analysis. By leveraging this technology, we aim to deliver accurate and reliable predictions for individuals who may be at risk of experiencing a stroke.
            <br><br>
            We believe in the importance of early detection and prevention when it comes to strokes. By identifying risk factors and providing personalized recommendations, we empower our users to make informed decisions about their lifestyle choices, such as diet, exercise, and regular health check-ups. Through our user-friendly interface, we make it easy for anyone to access their personalized stroke risk assessment and track their progress over time.
            <br><br>
            At Stroke Predictor, we prioritize the privacy and security of our users' data. We adhere to strict confidentiality guidelines and comply with industry-standard protocols to ensure that all personal information is kept safe and secure. We understand the sensitive nature of health data and have implemented robust measures to safeguard it at all times.
            <br><br>
            
            We believe that knowledge is power, and by harnessing the power of technology and medical expertise, we can make a significant impact on reducing the prevalence of strokes. Our goal is to create a world where strokes are prevented through early detection, education, and proactive lifestyle choices. Together, we can take steps towards a healthier future.
            <br><br>
            Thank you for choosing Stroke Predictor. Join us today and take control of your health!
    </p>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>

</body>
</html>